################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
**/Debug/
**/Release/
*.user
**/node_modules
src/SkiResort.Mobile/platforms/
src/SkiResort.Mobile/www/
src/SkiResort.Web/src/ts/**/*.js
/src/SkiResort.Web/.vscode
/src/SkiResort.Mobile/plugins
**/packages
/wwwroot/js/app.js.map
/wwwroot/js/app.js
/src/SkiResort.Web/wwwroot/azureSearch/index.json
/src/SkiResort.Web/wwwroot/azureSearch/data.json
/src/**/*.lock.json
/src/SkiResort.DataGeneration/.vs/SkiResort.DataGeneration/v14/.suo
