html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

iframe {
    width: 100%;
    height: 100%;
    border: none;
}

#reportContainer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
