@font-face {
    font-family: 'icomoon';
    src: url('../fonts/icomoon.eot?76el1y');
    src: url('../fonts/icomoon.eot?76el1y#iefix') format('embedded-opentype'),
        url('../fonts/icomoon.ttf?76el1y') format('truetype'),
        url('../fonts/icomoon.woff?76el1y') format('woff'),
        url('../fonts/icomoon.svg?76el1y#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^='ski-icon-'],
[class*=' ski-icon-'] {
    // use !important to prevent issues with browser extensions that change fonts
    font-family: 'icomoon' !important;
    // Better Font Rendering ===========
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: 1;
    speak: none;
    text-transform: none;
    // Custom
    &.spin {
        animation: spin 1s linear infinite;
    }
}

.ski-icon-alert::before {
    content: '\e900';
}

.ski-icon-arrow::before {
    content: '\e901';
}

.ski-icon-arrow-down::before {
    content: '\e902';
}

.ski-icon-back::before {
    content: '\e903';
}

.ski-icon-base::before {
    content: '\e904';
}

.ski-icon-calendar::before {
    content: '\e905';
}

.ski-icon-check::before {
    content: '\e906';
}

.ski-icon-dining::before {
    content: '\e907';
}

.ski-icon-edit::before {
    content: '\e908';
}

.ski-icon-gps::before {
    content: '\e909';
}

.ski-icon-location-map::before {
    content: '\e91e';
}

.ski-icon-lift::before {
    content: '\e90a';
}

.ski-icon-lift-circle::before {
    content: '\e90b';
}

.ski-icon-lift-closed::before {
    content: '\e90c';
}

.ski-icon-lift-diamond::before {
    content: '\e90d';
}

.ski-icon-lift-square::before {
    content: '\e90e';
}

.ski-icon-logout::before {
    content: '\e90f';
}

.ski-icon-marker::before {
    content: '\e910';
}

.ski-icon-marker {
    padding-right: 10px;
}

.ski-icon-poles::before {
    content: '\e911';
}

.ski-icon-rental::before {
    content: '\e912';
}

.ski-icon-settings::before {
    content: '\e913';
}

.ski-icon-shoe::before {
    content: '\e914';
}

.ski-icon-skies::before {
    content: '\e915';
}

.ski-icon-snow::before {
    content: '\e916';
}

.ski-icon-spinner::before {
    content: '\e917';
}

.ski-icon-star::before {
    content: '\e918';
}

.ski-icon-star-filled::before {
    content: '\e919';
}

.ski-icon-temp::before {
    content: '\e91a';
}

.ski-icon-ticket::before {
    content: '\e91b';
}

.ski-icon-webcam::before {
    content: '\e91c';
}

.ski-icon-wind::before {
    content: '\e91d';
}
