<ion-list class="ski-home_menu">
    <a class="item ski-home_menu-item ski-home_menu-item--bg0" ui-sref="app.lift-status-list">
        <div class="ski-home_menu-image_container"><img class="ski-home_menu-image"
            <img class="ski-home_menu-image" src="images/menu/lift_status.jpg">
        </div>
        <h2 class="ski-home_menu-text">
            Lift Status
        </h2>
    </a>

    <a class="item ski-home_menu-item ski-home_menu-item--bg1" ui-sref="app.rentals">
        <div class="ski-home_menu-image_container">
            <img class="ski-home_menu-image" src="images/menu/rental_reservation.jpg">
        </div>
        <h2 class="ski-home_menu-text">
            Rental Reservation
        </h2>
    </a>

    <a class="item ski-home_menu-item ski-home_menu-item--bg2" ui-sref="app.dining-list">
        <div class="ski-home_menu-image_container">
            <img class="ski-home_menu-image" src="images/menu/dining.jpg">
        </div>
        <h2 class="ski-home_menu-text">
            Dining
        </h2>
    </a>

    <a class="item ski-home_menu-item ski-home_menu-item--bg3" ui-sref="app.live-webcams">
        <div class="ski-home_menu-image_container">
            <img class="ski-home_menu-image" src="images/menu/live_webcams.jpg">
        </div>
        <h2 class="ski-home_menu-text">
            Live webcams
        </h2>
    </a>

    <a class="item ski-home_menu-item ski-home_menu-item--bg4" ui-sref="app.lift-tickets">
        <div class="ski-home_menu-image_container">
            <img class="ski-home_menu-image" src="images/menu/lift_tickets.jpg">
        </div>
        <h2 class="ski-home_menu-text">
            Lift Tickets
        </h2>
    </a>
</ion-list>